{% from 'bootstrap5/form.html' import render_form, render_field %}
{% extends 'base.html' %}

{% block styling %}
.btn {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.btn:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 25%)
}

.forgot-password {
  width: 100%;
  text-align: right;
  margin-top: -32px;
}

{% endblock %}

<body class="starter-page-page">
  {% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Log In</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li class="current">Log In</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <h2>Log In</h2>
            {% with messages = get_flashed_messages() %}
              {% if messages: %}
                {% for message in messages: %}
                  <span style="color:red">{{message}}</span>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
        </div>

      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <div class="container center">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              {{render_form(form, novalidate=True, button_map={'submit': 'primary'})}}
              <p class="forgot-password"><a href="{{url_for('forgot_password')}}">Forgot Password?</a></p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Starter Section Section -->

  </main>
  {% endblock %}

</body>
