{% from 'bootstrap5/form.html' import render_form %}
{% extends 'base.html' %}

{% block styling %}
.btn {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px
}

.btn:hover {
    background: color-mix(in srgb, var(--accent-color), transparent 25%)
}
{% endblock %}

<body class="starter-page-page">
  {% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Learning List</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li class="current">Learning List</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <div class="row gy-4">
          <div class=" col-lg-8 mx-auto">
            <h2>IELTS Speaking - Part 1</h2>
            <p>Practice IELTS speaking with flashcards.</p>
          </div>
        </div>
      </div><!-- End Section Title -->

      {% if topic_list != []: %}
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-8 mx-auto" data-aos="fade-up" data-aos-delay="200">
              <a href="{{url_for('practice_speaking')}}">
                <button class="btn btn-primary d-inline-flex align-items-center mb-4" type="button">
                  Practice Now
                </button>
              </a>
            </div>
          </div>
        </div>
        {% for topic in topic_list:%}
        <div class="container" data-aos="fade-up">
          <div class="row gy-4" style="padding: 0 12px;">
            <div class="p-3 p-md-5 mb-4 col-lg-8 mx-auto rounded text-body-emphasis bg-body-secondary">
              <h5 class="display-8 fst-italic"><a href="{{url_for('resource_detail', topic_id=topic.id)}}">{{topic.id}}. {{topic.topic}}</a>
                <!-- Only show delete button if user_id = 1 -->
                <a href="{{url_for('delete_topic_learning_list', topic_id=topic.id)}}">✘</a>
              </h5>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else: %}
        <div class="container" data-aos="fade-up">
          <div class="row gy-4" style="padding: 0">
              <h5 class="display-8 fst-italic mx-auto">Your learning list is empty.</h5>
          </div>
        </div>
      {% endif %}

    </section><!-- /Starter Section Section -->

  </main>
  {% endblock %}

</body>
